

html, body {
	margin:0;
	padding:0;
	overflow-x: hidden;
    box-sizing: border-box;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


body{
	font-family: 'Montserrat', sans-serif;
}

img {
	align-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

video.openvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
		background-size: cover;
  	transition: 0.2s all ease ;
}

img.examplevid{
	height: 580px;
	padding:4%;
	float: left;
}


.text {
	align-self: center;
    justify-content: center;
    text-align: center;
    width:100vw;
    padding: 100px;
}

a {
	font-size: 28px;
}

p{
	font-size: 20px;

}

p.scrolldown{
	color: white;
	margin-top: 14%;
	text-align: center;
}

p.submenutitle{
	font-size: 14px;
	font-weight: 600;
	color: white;
}

a.submenuitem{
	font-size: 14px;
	font-weight: 400;
	color: white;
	padding-top: 10px;
	font-family: 'Lato', sans-serif;
	transition: 0.5s all ease;
}

p.containerdescription{
	color: white;
	font-size: 16px;
	width: 540px;
	line-height: 22px;
	font-family: 'Lato', sans-serif;
	opacity: 0.9;
}

a.logo{
	font-weight: 700;
	color:white;
	font-size: 24px;
	border: 4px white solid;
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.2s ease;
}

a.logo:hover{
	transition: all 0.2s ease;
	box-shadow: 0px 8px 30px rgba(63, 63, 63,0.3);
}

.highlight{
	color:#F8096B;
}

p.itemdescription{
	color:white;
	font-size: 16px;
}

p.author{
	text-align: center;
	color:white;
	font-size: 16px;
	color:#2C3C62;
}

em{
	font-weight: 400;

}

h1{
	font-weight: 700;
	font-size: 42px;
	text-align: center;
	color: white;
	width: 230px;
	margin-left: auto;
	margin-right: auto;
	border: 6px white solid;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0;
	padding-right: 0;
}

h2{
	font-weight: 400;
	font-size: 22px;
	text-align:center;
	color:white;
	padding-top: 40px;
}

h3{
	margin: 0;
	color: white;
	font-size: 32px;
	font-weight: 300;
}

h3.d{
	color:#2C3C62;
}

h4{
	font-size: 34px;
	font-weight: 600;
	padding-top:60px;
	padding-left: 380px;
	margin-bottom: 0;
}

p.appname{
	font-size: 16px;
	padding-top: 0;
	padding-left: 380px;
	font-weight: 600;
}

p.appexplain{
	font-size: 16px;
	padding-top: 40px;
	padding-left: 380px;
	width:750px;
	font-family: 'Lato', sans-serif;
}

div.opener{
	width:100vw;
	height:100vh;
	position: relative;
}

p.end{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top:40vh;
		font-size: 40px;
		color:#2C3C62;

}

div.title{
	padding-top: 14%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

div.sectionone{
	height: 100vh;
	width: 100vw;
}

div.sectiontwo{
	height: 100vh;
	width: 100vw;
}

div.sectionthree{
	height: 100vh;
	width: 100vw;
}

div.sectionfour{
	height: 100vh;
	width: 100vw;
}

div.menu{
	position: fixed;
	top: 30%;
	transition: all 0.2s ease;
}



div.logodiv{
	position: fixed;
	top:7%;
	left:4%;
	transition: all 0.4s ease;
	opacity: 0;
}




div.refreshicon{
	height: 28px;
	width: 28px;
	background-image: url("img/refreshwhite.svg");
	background-size: cover;
	transition: all 0.4s ease;
}

div.placeboicon{
	height: 28px;
	width: 28px;
	background-image: url("img/placebowhite.svg");
	background-size: cover;
	transition: all 0.4s ease;
}

div.absenticon{
	height: 28px;
	width: 28px;
	background-image: url("img/absentwhite.svg");
	fill:white;
	background-size: cover;
	transition: all 0.4s ease;
}

div.futureicon{
	height: 28px;
	width: 28px;
	background-image: url("img/futurewhite.svg");
	background-size: cover;
	transition: all 0.4s ease;
}

div.submenu{
	position: relative;
	top: -38px;
	left: 42px;
}

div.container{
	margin-left: 26%;
	height: 70vh;
	padding-top: 4%;
}

div.item{
	float: left;
	padding-top: 4%;
	padding-right: 3%;
	position: relative;
	top:0px;
	transition: 0.4s all ease;
}

div.item:hover{
	position: relative;
	top:-6px;
	transition: 0.4s all ease;
}

div.infocontainer{
	width: 800px;
	height:580px;
	margin-top: -8%;
	border-radius: 6px;
}

img.screen{
	height:460px;
	transition: 0.4s all ease;
}

img.screen:hover{
	box-shadow: 0px 8px 30px rgba(63, 63, 63,0.19);
	transition: 0.2s all ease;
}

a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	color: white;
}

p.d{
	color: #2C3C62 !important;
}

.shadowone{
	/* box-shadow: 0px 10px 25px #1F2F5C; */
}

.shadowtwo{
	/* box-shadow: 0px 10px 25px #485989; */
}

.shadowthree{
	/* box-shadow: 0px 10px 25px #7B8FC3; */
}

.shadowfour{
	/* box-shadow: 0px 10px 25px #223656; */
}

div.examples{
	height: 100vh;
	width:100vw;
	position: fixed;
	color: black;
	background-color: grey;
}

/* Code below is for jQuery */


.submenu {
	height:30px;
	overflow:hidden;
	transition:all 0.2s ease;
}

.expand {
	height:120px !important;
	overflow:hidden !important;
	transition:all 0.2s ease !important;
}

.expandfuther{
	height:200px !important;
	overflow:hidden !important;
	transition:all 0.2s ease !important;
}


.menuhidden{
	left: 3%;
	opacity: 0;
	transition: all 0.4s ease;
}

.menushow{
	left: 4%;
	opacity: 1;
	transition: all 0.4s ease;
}


.menufuturetext{
	color:#2C3C62 !important;
	transition: all 0.4s ease;
	}

.refreshicondark{
		background-image: url("img/refresh.svg") !important;
		transition: all 0.4s ease;
	}

.placeboicondark{
		background-image: url("img/placebo.svg") !important;
		transition: all 0.4s ease;
	}

.absenticondark{
		background-image: url("img/absent.svg") !important;
		transition: all 0.4s ease;
	}

.futureicondark{
		background-image: url("img/future.svg") !important;
		transition: all 0.4s ease;
	}


.bg-only {
	    width: 100vw;
	    height: 100vh;
	    background: linear-gradient(#022E51, #83B1D4);
	    position: fixed;
	    z-index: -20;
			transition:1s all ease;
			opacity:0.92;
	}

.bg-only1 {
	    width: 100vw;
	    height: 100vh;
			background-color: #F38548;
			/* background: linear-gradient(#E77231, #F97D39); */
	    position: fixed;
	    z-index: -20;
			transition:1s all ease;
			opacity:0;
	}

.bg-only2 {
		   width: 100vw;
		   height: 100vh;
			 background-color: #95D167;
		   /* background: linear-gradient(#70A944, #88BE5E); */
		   position: fixed;
		   z-index: -20;
			 transition:1s all ease;
			 opacity:0;
	}

.bg-only3 {
			  width: 100vw;
			  height: 100vh;
				background-color: #EF4D56;
			  /* background: linear-gradient(#E984AA, #EC9BB9); */
			  position: fixed;
			  z-index: -20;
				transition:1s all ease;
				opacity:0;
	}

.bg-only4 {
			  width: 100vw;
			  height: 100vh;
			  background: linear-gradient(#FBFDFF, #F2F7FF);
			  position: fixed;
			  z-index: -20;
				transition:1s all ease;
				opacity:0;
	}

.logoappear{
	opacity: 1 !important;
	transition: all 0.4s ease;
}

.highligh{
	font-weight: bold;
}

.futureborder{
		border: 4px #2C3C62 solid !important;
}

.showgradient {
		opacity:1;
		transition:1s all ease;
	}

.submenuitemhl{
	text-shadow: 0 0 2px #fff;
	transition: 0.5s all ease;
}

.submenuitemhld{
	text-shadow: 0 0 2px rgba(44, 60, 98,0.5);
	transition: 0.5s all ease;
}
/* Code above is for jQuery */
