div.menu{
	height: 120px;
	width:100vw;
}

body{
	margin: 0;
	font-family: 'Lato', sans-serif;
}

p{
	font-family: 'Lato', sans-serif;
}

h1{
	margin:0;
	margin-right: 0;
	padding-top: 40px;
	padding-left: 6%;
	width:200px;
	float:left;
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
	color:#606060;
	padding-left: 20px;
	transition: 0.4s all ease;
}

a:hover{
	color:black;
	transition: 0.4s all ease;
}

div.links{
	padding-top: 50px;
	padding-left: 76%;
}

div.main{
	height: 700px;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;

}

div.item1{
	position: relative;
	background-color: black;
	width:42vw;
	height: 400px;
	float: left;
	margin: 10px;
	background-image: url("img/IMG_3554.jpg");
	background-size: cover;
	transition: 0.4s all ease;
	top:0px;

}

div.item2{
	background-color: black;
	width:42vw;
	height: 400px;
	float: left;
	margin: 10px;
	background-image: url("img/turtle.35.png");
	background-size: cover;

}

div.item3{
	background-color: black;
	width:42vw;
	height: 400px;
	float: left;
	margin: 10px;
	background-image: url("img/vacuum.jpg");
	background-size: cover;

}

div.item4{
	background-color: black;
	width:42vw;
	height: 400px;
	float: left;
	margin: 10px;
	background-image: url("img/projector.jpg");
	background-size: cover;

}

div.item1:hover{
	box-shadow: 0px 3px 8px grey;
	transition: 0.4s all ease;
	top:-3px;
}

div.item2:hover{
	box-shadow: 0px 3px 8px grey;
	transition: 0.4s all ease;
	top:-3px;

	background-image: url("img/white.png");
	background-size: cover;
}

p.covertext{
	color: black;
	font-size: 60px;
	text-align: center;
	opacity:0;
	transition: 0.4s all ease;
}

p.covertextappear{
	color: black;
	font-size: 60px;
	text-align: center;
	opacity:1;
	transition: 0.4s all ease;
}

div.submenu{
	position: fixed;
	top:200px;
	left:600px;
	background-color: white;
	opacity: 0;
}

div.showsubmenu{
	position: fixed;
	top:200px;
	left:600px;
	background-color: white;
	opacity: 1;
}
